:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent {
    color:#666;
    white-space: break-spaces;
    text-align: center;
}
.styledLinkContainer--dropdown-departamentos{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0px !important;
}
.menuItem--menu-item-secundary:hover{
    background: #ffcd01;
    border-radius: 10px;
}
:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent--dropdown-departamentos {
    color: #666;
}

.menuContainerNav{width: 100%;}
.menuContainer {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.submenuWrapper{
    width: 100%;
    padding: 0;
    background: transparent;
}
:global(.vtex-category-menu-2-x) .departmentList {
    display: block;
    height: auto;
}

.menuItem--dropdown-departamentos{
    color:#666;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    text-align: center;
    height: 70px;
}

.menuItem--dropdown-departamentos .submenuContainer {
    position: absolute;
    top: 100%;
    width: 100%;
}

:global(.vtex-menu-2-x-styledLinkIcon) .c-action-primary  {
    color: #fecc16;
    width: 20px;
    height: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}