.headerRowBackground--main-header {
    background: #fff;
    padding: 15px 0;
}
.headerRowContainer{
    justify-content: space-between;
}
.headerStickyRow--main-menu{
    -webkit-box-shadow: 0px 10px 15px -15px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 10px 15px -15px rgba(0,0,0,.75);
    box-shadow: 0px 10px 15px -15px rgb(0 0 0 / 75%);
}