:global(.vtex-product-summary-2-x-element) :global(.vtex-product-identifier-0-x-product-identifier){
    display: none;
}
.product-identifier{
    margin-bottom: 10px;
}
.product-identifier__label{
    color: #585858;
    font-size: 1.12rem;
}
.product-identifier__value{
    color: #000;
    font-size: 1.12rem;
    font-weight: bold;
}